<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{% static 'django_project/static/css/master.css' %}"
    />
    <title>Trips planning</title>
  </head>
  <body>
    <nav class="navbar mynav" role="navigation" id="navbar">
      <div class="container">
        <a class="navbar-brand mynav" href="{% url 'home' %}">Trip Planning</a>

        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <li>
            <a href="{% url 'trips:create' %}" class="btn btn-simple"
              >Create Trip</a
            >
          </li>

          <li>
            <a href="{% url 'teams:all' %}" class="btn btn-simple">Teams</a>
          </li>
          <li>
            <a href="{% url 'teams:create' %}" class="btn btn-simple"
              >Create Team</a
            >
          </li>
          <li>
            <a href="{% url 'trips:for_user' user.username %}" class="btn btn-simple"
              >My Trips</a
            >
          </li>
          <li>
            <a href="{% url 'accounts:logout' %}" class="btn btn-simple"
              >Log out</a
            >
          </li>
          {% else %}
          <li>
            <a href="{% url 'teams:all' %}" class="btn btn-simple">Teams</a>
          </li>
          <li>
            <a href="{% url 'accounts:login' %}" class="btn btn-simple"
              >Log in</a
            >
          </li>
          <li>
            <a href="{% url 'accounts:signup' %}" class="btn btn-simple"
              >Sign up</a
            >
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container mycontent">{% block content %} {% endblock %}</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
